# Database
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD="root"
DB_NAME="apotek_nexa"

# Auth
JWT_SECRET="your-super-secret-jwt-key-min-32-chars-change-in-production"
JWT_REFRESH_SECRET="your-different-refresh-secret-min-32-chars"
COOKIE_SECRET="your-cookie-signing-secret"

# App
NODE_ENV="development"